{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>“智能云”充电桩</h1>
        <p class="lead"> 一款能为您挣钱的新能源汽车智能充电桩</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img alt="1.png" src="static/1.png" class="img-rounded" width="728" height="490">
        </div>
        <div class="col-md-4">
            <br />
            <p>
                <font size="5" ><b>
                新能源汽车“智能云”充电桩<br />
                一款能为您挣钱的智能充电桩<br />
                </b> </font>
            <p/>
            <h3>
                <hr />
                <a  href="/intro1">充电共享 &raquo;</a>
            </h3>
            <p>桩主自用充电，刷卡或手机充电，仅计算电费。<br />对外共享充电，手机充电，电费+服务费+预约费。</p>
            <hr />
            <h3>
                <a  href="/intro2">充电预约 &raquo;</a>
            </h3>
            <p>合理有效的利用充电桩，让“找桩难”成为过去式。</p>
            <hr />
            <h3>
                <a  href="/intro3">扫码充电、移动支付 &raquo;</a>
            </h3>
            <p>支持微信、支付宝等多种支付方式。<br />桩主：可设定服务费，获取充电收益。<br />车主：扫描二维码、启动充电。</p>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; 上海翼锐汽车科技有限公司</p>
    </footer>
</div>
{% endblock %}