{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>充电预约</h1>
        <p class="lead"> 合理有效的利用充电桩，让“找桩难”成为过去式。</p>
    </div>
    <div class="row">
        <div class="col-md-8">

            <img alt="3.png" src="static/3.png" class="img-rounded" width="728" height="490">
        </div>

        <div class="col-md-4">
            <font size="5" ><b>
            <p>
                <br /><br /><br /><br />
                合理有效的利用充电桩，让“找桩难”成为过去式。
            </p>
            </b></font>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; 上海翼锐汽车科技有限公司</p>
    </footer>
</div>
{% endblock %}
