{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>充电共享</h1>
        <p class="lead"> 全面提升电桩使用效率、实现盈利</p>
    </div>
    <div class="row">
        <div class="col-md-8">

            <img alt="2.png" src="static/2.png" class="img-rounded" width="728" height="490">
        </div>
        <div class="col-md-4">
            <font size="5" ><b>
            <p>
                <br /><br /><br /><br />
                桩主自用充电<br />
                刷卡或手机充电<br />
                仅计算电费<br /><br />
            </p>
            <p>
                对外共享充电<br />
                手机充电<br />
                电费+服务费+预约费<br />
            </p>
            </b> </font>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; 上海翼锐汽车科技有限公司</p>
    </footer>
</div>
{% endblock %}
