{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>扫码充电、移动支付</h1>
        <p class="lead"> 支持微信、支付宝等多种支付方式</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img alt="4.png" src="static/4.png" class="img-rounded" width="728" height="490">
        </div>
        <div class="col-md-4">
            <font size="5" ><b>
            <p>
                <br /><br /><br /><br />
                扫码充电、移动支付：支持微信、支付宝等多种支付方式。<br />
                桩主：可设定服务费，获取充电收益。<br />
                车主：扫描二维码、启动充电。
            </p>
            </b></font>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; 上海翼锐汽车科技有限公司</p>
    </footer>
</div>
{% endblock %}
